/* ===========
SECTION
=========== */
.sectionTopItens{
  background-image: linear-gradient(to bottom right, #676C74, #0e1218);
  padding: 1rem;
}



.topItens {
  margin: 80px 0;
}

.topItens .container {
  width: 90%;
  max-width: 980px;

  margin: auto;

  display: flex;
}

.topItens p {
  color: #f1f3f8;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
  width: 90%;
}

.topItens img {
  height: 22rem;
  width: 22rem;
  border-radius: 50%;
}




/* ===========
MAIN 
=========== */
/* .main {
  margin-bottom: 80px;
} */

/* =============
EXPERIENCE TEXT
============= */
.languages {
  text-align: center;
  padding-bottom: 4rem;
  margin: 0% 10% 0 10%;
}


/*=============== 
MY PROJECTS
==================*/
.myProjects {
  background-color: #F1F3F8;
  padding-top: 12rem;
}

.myProjects h3 {
  text-align: center;
  margin: 0% 10% 0 10%;
  margin-bottom: 4rem;
}

.myProjects span {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 0% 10% 0 10%;
  margin-bottom: 2rem;
}

.myProjects div {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}


.myProjects a{
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 8px;
  text-decoration: none;
  background: #fff;
  padding: 0.25em;
  margin: 1em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;
  justify-content: space-around;
}

.myProjects a:hover {
  transform: translateY(-7px);
  opacity: 0.7;
}
.myProjects div img{
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}



/*=============== 
CARDS
==================*/

.gridTechs{
  background-color: #F1F3F8;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.gridCards {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
}

.gridCards p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #8698a7;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 15rem;
  overflow: hidden;
  border-radius: 8px;
  text-decoration: none;
  background: #fff;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-7px);
}

.dataProjects {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.description{
  margin-top: 3rem;
}



/* ===============
TECHS AND OTHERS SECTION
=============== */
.techsAndOthers{
  padding-top: 8rem;
}

.slider {
	background: white;
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
}
.slider::before,
.slider::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	.slider::before {
		left: 0;
		top: 0;
	}

  .slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

.slider .slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 21);
}

.slider .slide{
  height: 10rem;
  width: 20rem;
}
.slider .slide img{
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes scroll {
	0% { transform: translateX(0%); }
	100% { transform: translateX(calc(-250px * 7))}
}


/* =============
RESPONSIVIDADE
============= */
@media (max-width: 960px) {
  .slider{
    width: 100%;
  }
}
@media (max-width: 630px) {
  .topItens .container {
      flex-direction: column;
      text-align: center;
  }

  .topItens img {
      order: -1;
      align-self: center;
  }
  
}
