.container {
  width: 90%;
  max-width: 980px;

  margin: auto;

  display: flex;
}


.container p {
  color: #f1f3f8;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
  width: 90%;
}

.container img {
  height: 22rem;
  width: 22rem;
  border-radius: 50%;
}